.header {
  font-family: 'Rubik', sans-serif;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: 0 2rem;

  // background-color: burlywood;
  // background-color: #000;

  img {
    width: 40px;
    height: 40px;
  }

  &-navigation {
    display: flex;
    gap: 1rem;

    &__button {
    }

    &__item {
      padding: 1rem;
      cursor: pointer;

      color: #ddd;
      font-size: 1.4rem;
      font-weight: 400;
    }

    &__item:hover {
      color: #fff;
    }

    &__item:last-child {
      position: relative;
    }

    &__item:last-child::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -5px;
      transform: translateY(-50%);

      width: 2px;
      height: 1.4rem;
      background-color: #ddd;
    }
  }
}
